// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
$skinColor: #ad9282;
$skinColor2: #fce0ce;
$skinColor3: #816c5d;
$pantsColor2: #c77161;
$primaryBlue: #00b1dc;
$darkBlue: #005ba7;
$primaryGreen: #a1cf6d;
$yellow: #f5ec43;
$green: #0fa15c;
$moonGrey1: #B4B6B7;
$moonGrey2: #EAEAE9;
$white: #fff;
$darkGrey: #231f20;
$dark: #0a0203;
$black: #000;

.poster {
  max-width: 842px;
  max-height: 1192px;
  position: relative;
  overflow: hidden;
  &__background {
    max-width: 100%;
    max-height: 100%;
    opacity: 50%;
    position: inherit;
    z-index: 100;
    pointer-events: none;
  }
}

.clouds {
  & > * {
    z-index: 11;
    position: absolute;
  }
  #cloud_1 {
    max-width: 3.9%;
    top: 52.5%;
    left: 11.4%;
  }
  #cloud_2 {
    max-width: 3.9%;
    top: 50.7%;
    left: 27.1%;
  }
  #cloud-brows_1 {
    max-width: 6%;
    top: 45.5%;
    left: 29.5%;
  }
  #cloud_3 {
    max-width: 3.9%;
    top: 54.4%;
    left: 34.1%;
  }
  #cloud_4 {
    max-width: 3.9%;
    top: 48.8%;
    left: 36.1%;
  }
  #cloud_5 {
    max-width: 3.9%;
    top: 46.4%;
    left: 44.2%;
  }
  #cloud-brows_2 {
    max-width: 9.7%;
    top: 44%;
    left: 55.3%;
  }
  #cloud-brows_3 {
    max-width: 5.9%;
    top: 39.8%;
    left: 72%;
  }
  #cloud_6 {
    max-width: 3.9%;
    top: 46.3%;
    left: 73.5%;
  }
  #cloud_7 {
    max-width: 3.9%;
    top: 43.55%;
    left: 81.3%;
  }
  #cloud_8 {
    max-width: 3.9%;
    top: 52.15%;
    left: 82.75%;
  }

  &__eyes {
    fill: $white;
    stroke-width: 4.6px;
    stroke: $dark;
  }

  &__pupils {
    fill: $primaryGreen;
  }

  &__mouth {
    stroke: $dark;
  }

  &__fill {
    fill: $primaryGreen;
  }
}

.child {
  & svg {
    z-index: 4;
    position: absolute;
  }
  &__stroke {
    stroke: $dark;
    stroke-width: 4.6px;
  }
  &__eye {
      fill: $white;
  }
  &__card {
      fill: none;
      stroke: $white;
      stroke-width: 4.6px;
  }
}
.childOne {
  max-width: 21.8%;
  top: 53%;
  left: 12%;
  &__skin {
    fill: $skinColor;
  }
  &__pants {
    fill: $primaryGreen;
  }
  &__shirt {
    fill: $yellow;
  }
}
.childTwo {
  max-width: 17.5%;
  top: 49.7%;
  left: 39.9%;
  &__skin {
    fill: $skinColor2;
  }

  &__shirt {
    fill: $primaryBlue;
  }
  &__pants {
    fill: $pantsColor2;
  }
}
.childThree {
  max-width: 24.1%;
  top: 47%;
  left: 59.5%;
  &__skin {
    fill: $skinColor3;
  }

  &__pants {
    fill: $yellow;
  }

  &__shirt {
    fill: $primaryGreen;
  }
}

.planet {
  &__eye--white {
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
  }
  &__eye--left {
    width: 8%;
    height: 7%;
    top: 88.5%;
    left: 26%;
  }
  &__eye--right {
    width: 7%;
    height: 7%;
    top: 90.5%;
    right: 27.5%;
  }
  @keyframes eyeShaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(6%) }
    50% { transform: translateX(-6%) }
    75% { transform: translateX(6%) }
    100% { transform: translateX(0) }
  }
  .earth {
    z-index: 3;
    position: absolute;
    top: 63.2%;

    &__ocean {
    fill: $primaryBlue;
    }

    &__eye--black {
    fill: $darkGrey;
    }

    &__land {
      fill: $primaryGreen;
      stroke-width: 4.6px;
      stroke: $darkGrey;
    }
  }
}

.earthText {
  fill: $darkGrey;
  font-family: Marydale-Bold, Marydale;
  font-weight: 700;
  &__left {
    z-index: 3;
    position: absolute;
    max-width: 13.6%;
    top: 76.1%;
    left: 10.5%;
    font-size: 30px;
    .text-left-g {
      letter-spacing: -0.02em;
    }
    .text-left-yn {
      letter-spacing: 0.02em;
    }
    .text-left-ttft {
      letter-spacing: -0.06em;
    }
    .text-left-u {
      letter-spacing: -0.02em;
    }
    .text-left-lda {
      letter-spacing: -0.02em;
    }
    .text-left-r {
      letter-spacing: -0.04em;
    }
    .text-left-fef {
      letter-spacing: -0.02em;
    }
    .text-left-t {
      letter-spacing: -0.03em;
    }
    .text-left-a {
      letter-spacing: 0em;
    }
  }
  &__top {
    z-index: 3;
    position: absolute;
    max-width: 31.5%;
    top: 67.8%;
    left: 43.9%;
    font-size: 30px;
    .text-top-t {
      letter-spacing: -0.06em;
    }
    .text-top-i {
      letter-spacing: -0.02em;
    }
    .text-top-lfrud {
      letter-spacing: -0.02em;
    }
    .text-top-kk {
      letter-spacing: -0.04em;
    }
    .text-top-e {
      letter-spacing: -0.02em;
    }
    .text-top-kr {
      letter-spacing: -0.05em;
    }
    .text-top-r {
      letter-spacing: 0.02em;
    }
    .text-top-t2 {
      letter-spacing: 0.02em;
    }
  }
  &__bottom {
    z-index: 3;
    position: absolute;
    max-width: 10.3%;
    top: 86.5%;
    left: 46.7%;
    font-size: 30px;
    .text-bottom-n {
      letter-spacing: 0.02em;
    }
    .text-bottom-t {
      letter-spacing: -0.06em;
    }
    .text-bottom-ig {
        letter-spacing: -0.02em;
    }
    .text-bottom-l {
        letter-spacing: -0.02em;
    }
    .text-bottom-t2 {
        letter-spacing: 0.02em;
    }
    .text-bottom-kr {
        letter-spacing: -0.04em;
    }
    .text-bottom-e {
        letter-spacing: -0.02em;
    }
    .text-bottom-t3 {
        letter-spacing: -0.03em;
    }
  }
  &__middle {
    z-index: 3;
    position: absolute;
    max-width: 42.4%;
    top: 79%;
    left: 34%;
    font-size: 94.9px;
    .text-g {
      letter-spacing: 0.05em;
    }
    .text-v {
      letter-spacing: -0.02em;
    }
    .text-r {
      letter-spacing: -0.04em;
    }
    .text-jo {
      letter-spacing: 0em;
    }
  }
    &__rightTop {
      z-index: 3;
      position: absolute;
      max-width: 13.2%;
      top: 66.2%;
      left: 83.2%;
  }
  &__rightBottom {
      z-index: 3;
      position: absolute;
      max-width: 12.7%;
      top: 89.2%;
      left: 83.7%;
  }
}

#qr-code {
  position: absolute;
  max-width: 8.6%;
  top: 87.5%;
  left: 0.9%;
}

.footer {
  p {
    z-index: 5;
    position: absolute;
    top: 93.4%;
    left: 5.1%;
    fill: $darkGrey;
    font-family: Marydale-Bold, Marydale;
    font-size: 1.145vw;
    font-weight: 700;
    max-width: 91%;
    line-height: 120%;
  }
  &__background {
    z-index: 5;
    position: absolute;
    top: 94.1%;
    fill: $white;
    stroke-width: 0px;
  }
  &__background2 {
    z-index: 5;
    position: absolute;
    top: 96.4%;
    fill: $darkBlue;
    stroke-width: 0px;
  }
  &__ntnuLogo {
    z-index: 5;
    position: absolute;
    max-width: 30%;
    top: 97.3%;
    left: 4.9%;
    .logo-ntnu {
    fill: $white;
    stroke-width: 0px;
  }
  }
  &__divider1 {
    z-index: 5;
    position: absolute;
    max-width: 0.29%;
    top: 96.7%;
    left: 36.4%;
    .divider {
      fill: $white;
      stroke-width: 0px;  
    }
  }
  &__divider2 {
    z-index: 5;
    position: absolute;
    max-width: 0.29%;
    top: 96.7%;
    left: 69.4%;
    .divider {
      fill: $white;
      stroke-width: 0px;
    }
  }
  &__textMiddle {
    z-index: 5;
    position: absolute;
    max-width: 28.3%;
    top: 97.4%;
    left: 38.9%;
    .footer-text {
      fill: $white;
      stroke-width: 0px;
    }
  }
  &__textRight {
    z-index: 5;
    position: absolute;
    max-width: 17.8%;
    top: 97.7%;
    left: 77.1%;
    text {
      fill: $white;
      font-family: Marydale-Bold, Marydale;
      font-size: 25.36px;
      font-weight: 700;
    }
    #footer-text-u {
      letter-spacing: -0.04em;
    }
    #footer-text-i {
      letter-spacing: -0.03em;
    }
    #footer-text-c {
      letter-spacing: -0.01em;
    }
    #footer-text-l {
      letter-spacing: -0.02em;
    }
    #footer-text-c2 {
      letter-spacing: -0.06em;
    }
    #footer-text-onosent {
      letter-spacing: 0em;
    }
    #footer-text-k {
      letter-spacing: -0.05em;
    }
    #footer-text-t {
      letter-spacing: -0.03em;
    }
  }
}

// SVG colors and font-family
.fill {
  &--white {
    fill: $white;
  }
  &--blue {
    fill: $darkBlue;
  }
  &--moonGrey1 {
    fill: $moonGrey1;
  }
  &--moonGrey2 {
    fill: $moonGrey2;
  }
  &--darkGrey {
    fill: $darkGrey;
  }
  &--yellow {
    fill: $yellow;
  }
  &--green {
    fill: $green;
  }
  &--pantsColor2 {
    fill: $pantsColor2;
  }
}
.background {
  &--blue {
      fill: $primaryBlue;
      opacity: 0.15;
  }
  &--red {
    fill: $pantsColor2;
    opacity: 0.38;
  }
}
.marydale {
  font-family: Marydale-Bold, Marydale;
  font-weight: 700;
  &--black {
    fill: $darkGrey;
    font-size: 36px;
  }
  &--white {
    fill: $white;
    font-size: 45px;
  }
}

// Background colors
.backgrounds {
  svg {
    position: absolute;
  }
  &__one {
    z-index: 4;
    top: 0;
    left: 0;
  }
  &__two {
    z-index: 3;
    top: 1.1%;
  }
  &__three {
    z-index: 2;
    top: 24.7%;
  }
  &__four {
    z-index: 1;
    bottom: 11.86%;
  }
}

.animated-element {
    position: absolute;
    z-index: 10;
}

// Text at top of poster
.textTop {
  svg {
    left: 5.1%;
    z-index: 5;
    position: absolute;
  }
  &__one, &__two {
    max-width: 30%;
  }
  &__one {
    top: 3.65%;
  }
  &__two {
    top: 11.3%;
  }
  &__three {
    top: 21.9%;
    max-width: 44.8%;
  }
}

// Car and curved text
.carText {
  &__curvedText {
      top: 33.2%;
      left: 2%;
      width: 38.064133016627075%;
      height: 16.330166270783845%;
      path {
          fill: $black;
      }
  }
  &__car {
      width: 100%;
      top: -150%;
      left: -200%;
      z-index: 10;
      g {
          transform: scale(18%);
      }
  }
}

// Moon and stars
.sky {
  &__moon {
    top: 10.6%;
    left: 65.1%;
    width: 23.45%;
    height: 22.802850356294538%;
}
&__starTop {
    top: 9.55%;
    left: 84%;
    width: 6.65083135391924%;
    height: 7.304038004750593%;
    animation-duration: 0.8s;
    path {
        fill: $yellow;
    }
}
&__starBottom {
    top: 16.8%;
    left: 90%;
    width: 4.98812351543943%;
    height: 5.04750593824228%;
    animation-duration: 1.2s;
    path {
        fill: $yellow;
    }
}
}
@keyframes starShake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

// Car media queries
@media (min-width: 100px) {
  .carText {
      &__car {
        top: -70%;
        left: -200%;
    }
  }
}
@media (min-width: 200px) {
  .carText {
    &__car {
        top: -30%;
        left: -34%;
    }
  }
}
@media (min-width: 300px) {
  .carText {
    &__car {
        top: 0;
    }
  }
}
@media (min-width: 400px) {
  .carText {
    &__car {
        top: 10%;
    }
  }
}
@media (min-width: 600px) {
  .carText {
    &__car {
        top: 20%;
    }
  }
}
@media (min-width: 840px) {
  .carText {
    &__car {
        top: 25%;
        left: -34%;
    }
  }
}
@media (min-width: 875px) {
  .footer {
    p {
      font-size: 10px;
    }
  }
}

.carText__car, .clouds {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .sky {
    &__starTop, &__starBottom {
      animation-name: starShake;
      animation-iteration-count: infinite;
    }
  }
  .carText__car, .clouds {
    display: block;
  }
  .planet {
    &__eye--white {
      animation-name: eyeShaking;
      animation-duration: 0.22s;
      animation-iteration-count: infinite;
    }
  }
}
