// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
$skinColor: #ad9282;
$skinColor2: #fce0ce;
$skinColor3: #816c5d;
$pantsColor2: #c77161;
$primaryBlue: #00b1dc;
$darkBlue: #005ba7;
$primaryGreen: #a1cf6d;
$yellow: #f5ec43;
$green: #0fa15c;
$moonGrey1: #B4B6B7;
$moonGrey2: #EAEAE9;
$white: #fff;
$darkGrey: #231f20;
$dark: #0a0203;
$black: #000;

.poster {
  max-width: 842px;
  max-height: 1192px;
  position: relative;
  overflow: hidden;
}

#background {
  max-width: 100%;
  max-height: 100%;
  opacity: 50%;
  position: inherit;
  z-index: 100;
  pointer-events: none;
}

.clouds {
  #cloud1 {
    z-index: 11;
    position: absolute;
    max-width: 3.9%;
    top: 52.5%;
    left: 11.4%;
  }
  #cloud2 {
    z-index: 11;
    position: absolute;
    max-width: 3.9%;
    top: 50.7%;
    left: 27.1%;
  }
  #cloud-brows1 {
    z-index: 11;
    position: absolute;
    max-width: 6%;
    top: 45.5%;
    left: 29.5%;
  }
  #cloud3 {
    z-index: 11;
    position: absolute;
    max-width: 3.9%;
    top: 54.4%;
    left: 34.1%;
  }
  #cloud4 {
    z-index: 11;
    position: absolute;
    max-width: 3.9%;
    top: 48.8%;
    left: 36.1%;
  }
  #cloud5 {
    z-index: 11;
    position: absolute;
    max-width: 3.9%;
    top: 46.4%;
    left: 44.2%;
  }
  #cloud-brows2 {
    z-index: 11;
    position: absolute;
    max-width: 9.7%;
    top: 44%;
    left: 55.3%;
  }
  #cloud-brows3 {
    z-index: 11;
    position: absolute;
    max-width: 5.9%;
    top: 39.8%;
    left: 72%;
  }
  #cloud6 {
    z-index: 11;
    position: absolute;
    max-width: 3.9%;
    top: 46.3%;
    left: 73.5%;
  }
  #cloud7 {
    z-index: 11;
    position: absolute;
    max-width: 3.9%;
    top: 43.55%;
    left: 81.3%;
  }
  #cloud8 {
    z-index: 11;
    position: absolute;
    max-width: 3.9%;
    top: 52.15%;
    left: 82.75%;
  }

  .cloud-eyes {
    fill: $white;
    stroke-width: 4.6px;
    stroke: $dark;
  }

  .cloud-pupils {
    fill: $primaryGreen;
  }

  .cloud-mouth {
    stroke: $dark;
  }

  .cloud-fill {
    fill: $primaryGreen;
  }
}

.characters {
  #character-left {
    z-index: 3;
    position: absolute;
    max-width: 21.8%;
    top: 53%;
    left: 12%;

    #character-left-skin {
      fill: $skinColor;
    }

    #character-left-pants {
      fill: $primaryGreen;
    }

    #character-left-shirt {
      fill: $yellow;
    }
  }

  #character-middle {
    z-index: 3;
    position: absolute;
    max-width: 17.5%;
    top: 49.7%;
    left: 39.9%;

    .character-middle-skin {
      fill: $skinColor2;
    }
    
    #character-middle-shirt {
      fill: $primaryBlue;
    }

    #character-middle-pants {
      fill: $pantsColor2;
    }
  }

  #character-right {
    z-index: 3;
    position: absolute;
    max-width: 24.1%;
    top: 47%;
    left: 59.5%;

    #character-right-skin {
      fill: $skinColor3;
    }

    #character-right-pants {
      fill: $yellow;
    }

    #character-right-shirt {
      fill: $primaryGreen;
    }
  }

  .stroke {
    stroke: $dark;
    stroke-width: 4.6px;
  }

  .character-eye {
      fill: $white;
  }

  .character-card {
      fill: none;
      stroke: $white;
      stroke-width: 4.6px;
  }
}

.planet {
  .earth-eye-white {
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    animation-name: eyeShaking;
    animation-duration: 0.22s;
    animation-iteration-count: infinite;
  }
  .eye-left {
    width: 8%;
    height: 7%;
    top: 88.5%;
    left: 26%;
  }
  .eye-right {
    width: 7%;
    height: 7%;
    top: 90.5%;
    right: 27.5%;
  }
  @keyframes eyeShaking {
    0% { transform: translateX(0) }
 25% { transform: translateX(6%) }
 50% { transform: translateX(-6%) }
 75% { transform: translateX(6%) }
 100% { transform: translateX(0) }
  }
  #earth {
  z-index: 3;
  position: absolute;
  top: 63.2%;

  .earth-ocean-fill {
  fill: $primaryBlue;
  }

  .earth-eye-black {
  fill: $darkGrey;
  }

  .earth-land {
    fill: $primaryGreen;
    stroke-width: 4.6px;
    stroke: $darkGrey;
  }
  }
}

.earth-text-all {
  fill: $darkGrey;
  font-family: Marydale-Bold, Marydale;
  font-weight: 700;

  #earth-text-left {
    z-index: 3;
    position: absolute;
    max-width: 13.6%;
    top: 76.1%;
    left: 10.5%;
    font-size: 30px;

    .text-left-g {
      letter-spacing: -0.02em;
    }

    .text-left-yn {
      letter-spacing: 0.02em;
    }

    .text-left-ttft {
      letter-spacing: -0.06em;
    }

    .text-left-u {
      letter-spacing: -0.02em;
    }

    .text-left-lda {
      letter-spacing: -0.02em;
    }

    .text-left-r {
      letter-spacing: -0.04em;
    }

    .text-left-fef {
      letter-spacing: -0.02em;
    }

    .text-left-t {
      letter-spacing: -0.03em;
    }

    .text-left-a {
      letter-spacing: 0em;
    }
  }
    #earth-text-top {
    z-index: 3;
    position: absolute;
    max-width: 31.5%;
    top: 67.8%;
    left: 43.9%;
    font-size: 30px;

    .text-top-t {
      letter-spacing: -0.06em;
    }

    .text-top-i {
      letter-spacing: -0.02em;
    }

    .text-top-lfrud {
      letter-spacing: -0.02em;
    }

    .text-top-kk {
      letter-spacing: -0.04em;
    }

    .text-top-e {
      letter-spacing: -0.02em;
    }

    .text-top-kr {
      letter-spacing: -0.05em;
    }

    .text-top-r {
      letter-spacing: 0.02em;
    }

    .text-top-t2 {
      letter-spacing: 0.02em;
    }
  }

  #earth-text-bottom {
  z-index: 3;
  position: absolute;
  max-width: 10.3%;
  top: 86.5%;
  left: 46.7%;
  font-size: 30px;

  .text-bottom-n {
    letter-spacing: 0.02em;
  }

  .text-bottom-t {
    letter-spacing: -0.06em;
  }
    
  .text-bottom-ig {
      letter-spacing: -0.02em;
  }

  .text-bottom-l {
      letter-spacing: -0.02em;
  }

  .text-bottom-t2 {
      letter-spacing: 0.02em;
  }

  .text-bottom-kr {
      letter-spacing: -0.04em;
  }

  .text-bottom-e {
      letter-spacing: -0.02em;
  }

  .text-bottom-t3 {
      letter-spacing: -0.03em;
  }
}

#earth-text-middle {
    z-index: 3;
    position: absolute;
    max-width: 42.4%;
    top: 79%;
    left: 34%;
    font-size: 94.9px;

    .text-g {
      letter-spacing: 0.05em;
    }

    .text-v {
      letter-spacing: -0.02em;
    }

    .text-r {
      letter-spacing: -0.04em;
    }

    .text-jo {
      letter-spacing: 0em;
    }
  }
  #earth-text-right-top {
    z-index: 3;
    position: absolute;
    max-width: 13.2%;
    top: 66.2%;
    left: 83.2%;

    .text-right-top {
      fill: $darkGrey;
      stroke-width: 0px;
    }
  }
  #earth-text-right-bottom {
    z-index: 3;
    position: absolute;
    max-width: 12.7%;
    top: 89.2%;
    left: 83.7%;

    .text-right-bottom {
      fill: $darkGrey;
      stroke-width: 0px;
    }
  }
}

#qr-code {
  position: absolute;
  max-width: 8.6%;
  top: 87.5%;
  left: 0.9%;
}

.footer {
  p {
    z-index: 5;
    position: absolute;
    top: 93.4%;
    left: 5.1%;
    fill: $darkGrey;
    font-family: Marydale-Bold, Marydale;
    font-size: 1.145vw;
    font-weight: 700;
    max-width: 91%;
    line-height: 120%;
  }

  #footer-background {
    z-index: 5;
    position: absolute;
    top: 94.1%;
    fill: $white;
    stroke-width: 0px;
  }
  
  #footer-background2 {
    z-index: 5;
    position: absolute;
    top: 96.4%;
    fill: $darkBlue;
    stroke-width: 0px;
  }
  
  #footer-ntnu-logo {
    z-index: 5;
    position: absolute;
    max-width: 30%;
    top: 97.3%;
    left: 4.9%;
  
    .logo-ntnu {
    fill: $white;
    stroke-width: 0px;
  }
  }
  
  #footer-divider1 {
    z-index: 5;
    position: absolute;
    max-width: 0.29%;
    top: 96.7%;
    left: 36.4%;
  
    .divider {
      fill: $white;
      stroke-width: 0px;  
    }
  }
  
  #footer-divider2 {
    z-index: 5;
    position: absolute;
    max-width: 0.29%;
    top: 96.7%;
    left: 69.4%;
  
    .divider {
      fill: $white;
      stroke-width: 0px;
    }
  }
  
  
  #footer-text-middle {
    z-index: 5;
    position: absolute;
    max-width: 28.3%;
    top: 97.4%;
    left: 38.9%;
  
    .footer-text {
      fill: $white;
      stroke-width: 0px;
    }
  }
  
  #footer-text-right {
    z-index: 5;
    position: absolute;
    max-width: 17.8%;
    top: 97.7%;
    left: 77.1%;
  
    text {
      fill: $white;
      font-family: Marydale-Bold, Marydale;
      font-size: 25.36px;
      font-weight: 700;
    }
  
    .footer-text-u {
      letter-spacing: -0.04em;
    }
  
    .footer-text-i {
      letter-spacing: -0.03em;
    }
  
    .footer-text-c {
      letter-spacing: -0.01em;
    }
  
    .footer-text-l {
      letter-spacing: -0.02em;
    }
  
    .footer-text-c2 {
      letter-spacing: -0.06em;
    }
  
    .footer-text-onosent {
      letter-spacing: 0em;
    }
  
    .footer-text-k {
      letter-spacing: -0.05em;
    }
  
    .footer-text-t {
      letter-spacing: -0.03em;
    }
  }
}

// SVG colors and font-family
.fill-white {
    fill: $white;
}
.fill-blue {
    fill: $darkBlue;
}
.fill-moonGrey1 {
    fill: $moonGrey1;
}
.fill-moonGrey2 {
    fill: $moonGrey2;
}
.fill-darkGrey {
    fill: $darkGrey;
}
.fill-yellow {
    fill: $yellow;
}
.fill-pantsColor2 {
    fill: $pantsColor2;
}
.marydale-black {
    fill: $darkGrey;
    font-family: Marydale-Bold, Marydale;
    font-size: 36px;
    font-weight: 700;
}
.marydale-white {
    fill: $white;
    font-family: Marydale-Bold, Marydale;
    font-size: 45px;
    font-weight: 700;
}
.blue-background {
    fill: $primaryBlue;
    opacity: 0.15;
}
.red-background {
    fill: $pantsColor2;
    opacity: 0.38;
}
.fill-green {
    fill: $green;
}

// Background colors
#background-1, #background-2, #background-3, #background-4, #text-1, #text-2, #text-3 {
    position: absolute;
}
#background-1 {
    z-index: 4;
    top: 0;
    left: 0;
}
#background-2 {
    z-index: 3;
    top: 1.1%;
}
#background-3 {
    z-index: 2;
    top: 24.7%;
}
#background-4 {
    z-index: 1;
    bottom: 11.86%;
}

.animated-element {
    position: absolute;
    z-index: 10;
}

// Text at top of poster
#text-1, #text-2, #text-3 {
    left: 5.1%;
    z-index: 5;
}
#text-1, #text-2 {
    max-width: 30%;
 }
#text-1 {
    top: 3.65%;
}
#text-2 {
    top: 11.3%;
}
#text-3 {
    top: 21.9%;
    max-width: 44.8%;
}

// Car and curved text
#curved-text {
    top: 33.2%;
    left: 2%;
    width: 38.064133016627075%;
    height: 16.330166270783845%;
    path {
        fill: $black;
    }
}
#car {
    width: 100%;
    top: -150%;
    left: -200%;
    z-index: 10;
    g {
        transform: scale(18%);
    }
}

// Moon and stars
#moon {
    top: 10.6%;
    left: 65.1%;
    width: 23.45%;
    height: 22.802850356294538%;
}
#star-1 {
    top: 9.55%;
    left: 84%;
    width: 6.65083135391924%;
    height: 7.304038004750593%;
    animation-duration: 0.8s;
    path {
        fill: $yellow;
    }
}
#star-2 {
    top: 16.8%;
    left: 90%;
    width: 4.98812351543943%;
    height: 5.04750593824228%;
    animation-duration: 1.2s;
    path {
        fill: $yellow;
    }
}
#star-1, #star-2 {
    animation-name: starShake;
    animation-iteration-count: infinite;
}
@keyframes starShake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

// Car media queries
@media (min-width: 100px) {
    #car {
        top: -70%;
        left: -200%;
    }
}
@media (min-width: 200px) {
    #car {
        top: -30%;
        left: -34%;
    }
}
@media (min-width: 300px) {
    #car {
        top: 0;
    }
}
@media (min-width: 400px) {
    #car {
        top: 10%;
    }
}
@media (min-width: 600px) {
    #car {
        top: 20%;
    }
}
@media (min-width: 840px) {
    #car {
        top: 25%;
        left: -34%;
    }
}
@media (min-width: 875px) {
  .footer {
    p {
      font-size: 10px;
    }
  }
}