.poster {
  max-width: 842px;
  max-height: 1192px;
  position: relative;
  overflow: hidden;
}
.poster__background {
  max-width: 100%;
  max-height: 100%;
  opacity: 50%;
  position: inherit;
  z-index: 100;
  pointer-events: none;
}

.clouds > * {
  z-index: 11;
  position: absolute;
}
.clouds #cloud_1 {
  max-width: 3.9%;
  top: 52.5%;
  left: 11.4%;
}
.clouds #cloud_2 {
  max-width: 3.9%;
  top: 50.7%;
  left: 27.1%;
}
.clouds #cloud-brows_1 {
  max-width: 6%;
  top: 45.5%;
  left: 29.5%;
}
.clouds #cloud_3 {
  max-width: 3.9%;
  top: 54.4%;
  left: 34.1%;
}
.clouds #cloud_4 {
  max-width: 3.9%;
  top: 48.8%;
  left: 36.1%;
}
.clouds #cloud_5 {
  max-width: 3.9%;
  top: 46.4%;
  left: 44.2%;
}
.clouds #cloud-brows_2 {
  max-width: 9.7%;
  top: 44%;
  left: 55.3%;
}
.clouds #cloud-brows_3 {
  max-width: 5.9%;
  top: 39.8%;
  left: 72%;
}
.clouds #cloud_6 {
  max-width: 3.9%;
  top: 46.3%;
  left: 73.5%;
}
.clouds #cloud_7 {
  max-width: 3.9%;
  top: 43.55%;
  left: 81.3%;
}
.clouds #cloud_8 {
  max-width: 3.9%;
  top: 52.15%;
  left: 82.75%;
}
.clouds__eyes {
  fill: #fff;
  stroke-width: 4.6px;
  stroke: #0a0203;
}
.clouds__pupils {
  fill: #a1cf6d;
}
.clouds__mouth {
  stroke: #0a0203;
}
.clouds__fill {
  fill: #a1cf6d;
}

.child svg {
  z-index: 4;
  position: absolute;
}
.child__stroke {
  stroke: #0a0203;
  stroke-width: 4.6px;
}
.child__eye {
  fill: #fff;
}
.child__card {
  fill: none;
  stroke: #fff;
  stroke-width: 4.6px;
}

.childOne {
  max-width: 21.8%;
  top: 53%;
  left: 12%;
}
.childOne__skin {
  fill: #ad9282;
}
.childOne__pants {
  fill: #a1cf6d;
}
.childOne__shirt {
  fill: #f5ec43;
}

.childTwo {
  max-width: 17.5%;
  top: 49.7%;
  left: 39.9%;
}
.childTwo__skin {
  fill: #fce0ce;
}
.childTwo__shirt {
  fill: #00b1dc;
}
.childTwo__pants {
  fill: #c77161;
}

.childThree {
  max-width: 24.1%;
  top: 47%;
  left: 59.5%;
}
.childThree__skin {
  fill: #816c5d;
}
.childThree__pants {
  fill: #f5ec43;
}
.childThree__shirt {
  fill: #a1cf6d;
}

.planet__eye--white {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
}
.planet__eye--left {
  width: 8%;
  height: 7%;
  top: 88.5%;
  left: 26%;
}
.planet__eye--right {
  width: 7%;
  height: 7%;
  top: 90.5%;
  right: 27.5%;
}
@keyframes eyeShaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(6%);
  }
  50% {
    transform: translateX(-6%);
  }
  75% {
    transform: translateX(6%);
  }
  100% {
    transform: translateX(0);
  }
}
.planet .earth {
  z-index: 3;
  position: absolute;
  top: 63.2%;
}
.planet .earth__ocean {
  fill: #00b1dc;
}
.planet .earth__eye--black {
  fill: #231f20;
}
.planet .earth__land {
  fill: #a1cf6d;
  stroke-width: 4.6px;
  stroke: #231f20;
}

.earthText {
  fill: #231f20;
  font-family: Marydale-Bold, Marydale;
  font-weight: 700;
}
.earthText__left {
  z-index: 3;
  position: absolute;
  max-width: 13.6%;
  top: 76.1%;
  left: 10.5%;
  font-size: 30px;
}
.earthText__left .text-left-g {
  letter-spacing: -0.02em;
}
.earthText__left .text-left-yn {
  letter-spacing: 0.02em;
}
.earthText__left .text-left-ttft {
  letter-spacing: -0.06em;
}
.earthText__left .text-left-u {
  letter-spacing: -0.02em;
}
.earthText__left .text-left-lda {
  letter-spacing: -0.02em;
}
.earthText__left .text-left-r {
  letter-spacing: -0.04em;
}
.earthText__left .text-left-fef {
  letter-spacing: -0.02em;
}
.earthText__left .text-left-t {
  letter-spacing: -0.03em;
}
.earthText__left .text-left-a {
  letter-spacing: 0em;
}
.earthText__top {
  z-index: 3;
  position: absolute;
  max-width: 31.5%;
  top: 67.8%;
  left: 43.9%;
  font-size: 30px;
}
.earthText__top .text-top-t {
  letter-spacing: -0.06em;
}
.earthText__top .text-top-i {
  letter-spacing: -0.02em;
}
.earthText__top .text-top-lfrud {
  letter-spacing: -0.02em;
}
.earthText__top .text-top-kk {
  letter-spacing: -0.04em;
}
.earthText__top .text-top-e {
  letter-spacing: -0.02em;
}
.earthText__top .text-top-kr {
  letter-spacing: -0.05em;
}
.earthText__top .text-top-r {
  letter-spacing: 0.02em;
}
.earthText__top .text-top-t2 {
  letter-spacing: 0.02em;
}
.earthText__bottom {
  z-index: 3;
  position: absolute;
  max-width: 10.3%;
  top: 86.5%;
  left: 46.7%;
  font-size: 30px;
}
.earthText__bottom .text-bottom-n {
  letter-spacing: 0.02em;
}
.earthText__bottom .text-bottom-t {
  letter-spacing: -0.06em;
}
.earthText__bottom .text-bottom-ig {
  letter-spacing: -0.02em;
}
.earthText__bottom .text-bottom-l {
  letter-spacing: -0.02em;
}
.earthText__bottom .text-bottom-t2 {
  letter-spacing: 0.02em;
}
.earthText__bottom .text-bottom-kr {
  letter-spacing: -0.04em;
}
.earthText__bottom .text-bottom-e {
  letter-spacing: -0.02em;
}
.earthText__bottom .text-bottom-t3 {
  letter-spacing: -0.03em;
}
.earthText__middle {
  z-index: 3;
  position: absolute;
  max-width: 42.4%;
  top: 79%;
  left: 34%;
  font-size: 94.9px;
}
.earthText__middle .text-g {
  letter-spacing: 0.05em;
}
.earthText__middle .text-v {
  letter-spacing: -0.02em;
}
.earthText__middle .text-r {
  letter-spacing: -0.04em;
}
.earthText__middle .text-jo {
  letter-spacing: 0em;
}
.earthText__rightTop {
  z-index: 3;
  position: absolute;
  max-width: 13.2%;
  top: 66.2%;
  left: 83.2%;
}
.earthText__rightBottom {
  z-index: 3;
  position: absolute;
  max-width: 12.7%;
  top: 89.2%;
  left: 83.7%;
}

#qr-code {
  position: absolute;
  max-width: 8.6%;
  top: 87.5%;
  left: 0.9%;
}

.footer p {
  z-index: 5;
  position: absolute;
  top: 93.4%;
  left: 5.1%;
  fill: #231f20;
  font-family: Marydale-Bold, Marydale;
  font-size: 1.145vw;
  font-weight: 700;
  max-width: 91%;
  line-height: 120%;
}
.footer__background {
  z-index: 5;
  position: absolute;
  top: 94.1%;
  fill: #fff;
  stroke-width: 0px;
}
.footer__background2 {
  z-index: 5;
  position: absolute;
  top: 96.4%;
  fill: #005ba7;
  stroke-width: 0px;
}
.footer__ntnuLogo {
  z-index: 5;
  position: absolute;
  max-width: 30%;
  top: 97.3%;
  left: 4.9%;
}
.footer__ntnuLogo .logo-ntnu {
  fill: #fff;
  stroke-width: 0px;
}
.footer__divider1 {
  z-index: 5;
  position: absolute;
  max-width: 0.29%;
  top: 96.7%;
  left: 36.4%;
}
.footer__divider1 .divider {
  fill: #fff;
  stroke-width: 0px;
}
.footer__divider2 {
  z-index: 5;
  position: absolute;
  max-width: 0.29%;
  top: 96.7%;
  left: 69.4%;
}
.footer__divider2 .divider {
  fill: #fff;
  stroke-width: 0px;
}
.footer__textMiddle {
  z-index: 5;
  position: absolute;
  max-width: 28.3%;
  top: 97.4%;
  left: 38.9%;
}
.footer__textMiddle .footer-text {
  fill: #fff;
  stroke-width: 0px;
}
.footer__textRight {
  z-index: 5;
  position: absolute;
  max-width: 17.8%;
  top: 97.7%;
  left: 77.1%;
}
.footer__textRight text {
  fill: #fff;
  font-family: Marydale-Bold, Marydale;
  font-size: 25.36px;
  font-weight: 700;
}
.footer__textRight #footer-text-u {
  letter-spacing: -0.04em;
}
.footer__textRight #footer-text-i {
  letter-spacing: -0.03em;
}
.footer__textRight #footer-text-c {
  letter-spacing: -0.01em;
}
.footer__textRight #footer-text-l {
  letter-spacing: -0.02em;
}
.footer__textRight #footer-text-c2 {
  letter-spacing: -0.06em;
}
.footer__textRight #footer-text-onosent {
  letter-spacing: 0em;
}
.footer__textRight #footer-text-k {
  letter-spacing: -0.05em;
}
.footer__textRight #footer-text-t {
  letter-spacing: -0.03em;
}

.fill--white {
  fill: #fff;
}
.fill--blue {
  fill: #005ba7;
}
.fill--moonGrey1 {
  fill: #B4B6B7;
}
.fill--moonGrey2 {
  fill: #EAEAE9;
}
.fill--darkGrey {
  fill: #231f20;
}
.fill--yellow {
  fill: #f5ec43;
}
.fill--green {
  fill: #0fa15c;
}
.fill--pantsColor2 {
  fill: #c77161;
}

.background--blue {
  fill: #00b1dc;
  opacity: 0.15;
}
.background--red {
  fill: #c77161;
  opacity: 0.38;
}

.marydale {
  font-family: Marydale-Bold, Marydale;
  font-weight: 700;
}
.marydale--black {
  fill: #231f20;
  font-size: 36px;
}
.marydale--white {
  fill: #fff;
  font-size: 45px;
}

.backgrounds svg {
  position: absolute;
}
.backgrounds__one {
  z-index: 4;
  top: 0;
  left: 0;
}
.backgrounds__two {
  z-index: 3;
  top: 1.1%;
}
.backgrounds__three {
  z-index: 2;
  top: 24.7%;
}
.backgrounds__four {
  z-index: 1;
  bottom: 11.86%;
}

.animated-element {
  position: absolute;
  z-index: 10;
}

.textTop svg {
  left: 5.1%;
  z-index: 5;
  position: absolute;
}
.textTop__one, .textTop__two {
  max-width: 30%;
}
.textTop__one {
  top: 3.65%;
}
.textTop__two {
  top: 11.3%;
}
.textTop__three {
  top: 21.9%;
  max-width: 44.8%;
}

.carText__curvedText {
  top: 33.2%;
  left: 2%;
  width: 38.0641330166%;
  height: 16.3301662708%;
}
.carText__curvedText path {
  fill: #000;
}
.carText__car {
  width: 100%;
  top: -150%;
  left: -200%;
  z-index: 10;
}
.carText__car g {
  transform: scale(18%);
}

.sky__moon {
  top: 10.6%;
  left: 65.1%;
  width: 23.45%;
  height: 22.8028503563%;
}
.sky__starTop {
  top: 9.55%;
  left: 84%;
  width: 6.6508313539%;
  height: 7.3040380048%;
  animation-duration: 0.8s;
}
.sky__starTop path {
  fill: #f5ec43;
}
.sky__starBottom {
  top: 16.8%;
  left: 90%;
  width: 4.9881235154%;
  height: 5.0475059382%;
  animation-duration: 1.2s;
}
.sky__starBottom path {
  fill: #f5ec43;
}

@keyframes starShake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (min-width: 100px) {
  .carText__car {
    top: -70%;
    left: -200%;
  }
}
@media (min-width: 200px) {
  .carText__car {
    top: -30%;
    left: -34%;
  }
}
@media (min-width: 300px) {
  .carText__car {
    top: 0;
  }
}
@media (min-width: 400px) {
  .carText__car {
    top: 10%;
  }
}
@media (min-width: 600px) {
  .carText__car {
    top: 20%;
  }
}
@media (min-width: 840px) {
  .carText__car {
    top: 25%;
    left: -34%;
  }
}
@media (min-width: 875px) {
  .footer p {
    font-size: 10px;
  }
}
.carText__car, .clouds {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .sky__starTop, .sky__starBottom {
    animation-name: starShake;
    animation-iteration-count: infinite;
  }
  .carText__car, .clouds {
    display: block;
  }
  .planet__eye--white {
    animation-name: eyeShaking;
    animation-duration: 0.22s;
    animation-iteration-count: infinite;
  }
}